body {
  background: linear-gradient(to bottom, rgb(250, 245, 99), rgb(71, 46, 2));
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.upper {
  display: flex;
  height: 25%;
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.content {
  display: flex;
  height: 75%;
  border-radius: 10px;
  padding: 3px;
  gap: 10px;
}

.accueil {
  border-radius: 10px;
  background-image: url(../images/house.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: rgb(80, 78, 235); */
  display: flex;
  width: calc(100% / 10);
}

.comment {
  display: flex;
  font-size: 25px;
  flex: 1;
  width: 75%;
}

.texte {
  display: flex;
  flex-direction: column;
  width: 75%;
  font-size: 25px;
  color: aliceblue;
}

.image {
  display: flex;
  width: 25%;
  background-image: url(../images/golden_sun_décor.jpg);
  background-size: cover;
  border-radius: 5px;
  flex: 1;
}

.image2 {
  display: flex;
  background-image: url(../images/golden_sun_image2.jpeg);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.imagetext {
  display: flex;
  gap: 10px;
}

span {
    text-decoration: underline;
}

@media screen and (max-width:800px) {
  body {
      background-image: url(../images/golden_sun_décor.jpg);
      background-size: cover;
      background-position: top;
  }

  .image {
      display: none;
  }

  .image2 {
      display: none;
  }

  .upper {
      display: flex;
      height: 25%;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
  }

  .texte {
      display: flex;
      width: 100%;
      font-size: 30px;
      background-color: rgba(0, 0, 0, 0.533);
  }

  .accueil {
      background-image: url(../images/house.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      width: 100%;
      height: 33%;
  }

  .comment {
      display: flex;
      width: 100%;
      flex: 0;
      background-color: rgba(0, 0, 0, 0.533);
      color: aliceblue;
  }
}

@media screen and (max-width:1200px) {
  .image {
      display: none;
  }

  .texte {
      width: 100%;
  }
}